#read-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-size: x-large;
    font-weight: bold;
    
}

#book_read{
    background-color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 10px;
    font-size: xx-large;
    border: 2px solid black;
}