body{
    display: flex;
    /*background-color: #242020;*/
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#h1title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#root{
    width: 100%;
}